<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Reports Manager
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">

            <a href="/reports/add" id="add" class="column is-one-quarter">
                <div class="box has-background-info has-text-white has-rounded-corners">
                    <h3 class="has-text-white title is-5"> Add + </h3>
                </div>
            </a>

            <a href="/booking" class="column is-one-quarter">
                <div class="box has-background-danger has-text-white has-rounded-corners">
                    <h3 class="has-text-white title is-5"> View All </h3>
                </div>
            </a>
            <a href="/appointments" class="column is-one-quarter">
                <div class="box has-background-success has-text-white has-rounded-corners">
                    <h3 class="has-text-white title is-5"> History </h3>
                </div>
            </a>

        </div>
    </div>
</section>



